@keyframes first-phone-figure-bounce {
    0% {
        bottom: 0;
    }
    25% {
        // bottom: 100px;
        bottom: 50px;
    }
    50% {
        bottom: 0;
    }
    75% {
        // bottom: 120px;
        bottom: 60px;
    }
    100% {
        bottom: 0;
    }
}
@keyframes second-phone-figure-bounce {
    0% {
        top: 0;
    }
    25% {
        // top: 120px;
        top: 60px;
    }
    50% {
        top: 0;
    }
    75% {
        // top: 100px;
        top: 50px;
    }
    100% {
        top: 0;
    }
}

@keyframes app-figure-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes app-figure-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes journey-figure-translateLeft-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes journey-figure-translateLeft-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}