.footer {
    padding-top: 48px;
    padding-bottom: 32px;
    @include mobile {
        padding-bottom: 48px;
    }
    &-top,
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            align-items: flex-start;
        }
    }
    &-bottom {
        margin-top: 32px;
        line-height: 1.5;
        border-top: 1px solid $text-helper;
        padding-top: 32px;
        @include mobile {
            margin-top: 36px;
            padding-top: 24px;
        }
    }

    .logo {
        img {
            @include mobile {
                width: 60px;
            }
        }
    }
    .menu {
        margin-left: 72px;
        line-height: 1.5;
        flex-grow: 1;
        @include tablet {
            margin-left: 32px;
        }
        @include mobile {
            margin-left: 40px;
            padding-top: 12px;
        }
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: space-between;
            @include mobile {
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 16px;
                row-gap: 24px;
            }
        }
        li {
            &:not(:last-child) {
                margin-right: 36px;
                @include tablet {
                    margin-right: 24px;
                }
            }
            &:has(.email) {
                margin-left: auto;
                margin-right: 0;
                @include mobile {
                    margin-left: initial;
                }
            }
            &:has(.btn) {
                margin-left: 45px;
                @include tablet {
                    margin-left: 24px;
                }
                @include mobile {
                    display: none;
                }
            }
        }
    }

    .email {
        margin-left: auto;
        line-height: 1.5;
        color: $blue;
        text-decoration: underline;
    }
    // .btn {
    //     margin-left: 46px;
    // }

    .copyright {
        margin-right: auto;
        @include mobile {
            display: none;
        }
    }

    .policy {
        &:nth-child(2) {
            // margin-left: 36px;
            @include mobile {
                // margin-left: 0;
                margin-right: 40px;
            }
        }
        &:nth-child(3) {
            margin-left: 36px;
            @include mobile {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }
}